@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    /* == BRAND COLORS START == */
    /* Primary Color: #fd6a3e */
    --primary: 16 98% 61%;
    --primary-foreground: 210 40% 98%; /* A light color for text on primary background */
    /* Secondary Color: #022e7d */
    --secondary: 220 96% 25%;
    --secondary-foreground: 210 40% 98%; /* A light color for text on secondary background */
    /* == BRAND COLORS END == */
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 16 98% 61%; /* Use primary color for focus rings */
    --radius: 0.5rem;
  }
  .dark {
    /* Optional: Define dark mode colors if needed */
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    /* ... other dark mode variables */
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
