@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.65 0.19 263.5);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.97 0.013 269.1);
    --secondary-foreground: oklch(0.145 0 0);
    --muted: oklch(0.96 0.015 269.1);
    --muted-foreground: oklch(0.64 0.021 269.1);
    --accent: oklch(0.96 0.015 269.1);
    --accent-foreground: oklch(0.145 0 0);
    --destructive: oklch(0.7 0.159 29.8);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.89 0.015 269.1);
    --input: oklch(0.89 0.015 269.1);
    --ring: oklch(0.65 0.19 263.5);

    --sidebar: oklch(0.96 0.015 269.1);
    --sidebar-foreground: oklch(0.5 0.021 269.1);
    --sidebar-primary: oklch(0.65 0.19 263.5);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9 0.015 269.1);
    --sidebar-accent-foreground: oklch(0.145 0 0);
    --sidebar-border: oklch(0.89 0.015 269.1);
    --sidebar-ring: oklch(0.65 0.19 263.5);

    --chart-1: oklch(0.65 0.19 263.5);
    --chart-2: oklch(0.65 0.19 213.5);
    --chart-3: oklch(0.65 0.19 33.5);
    --chart-4: oklch(0.65 0.19 93.5);
    --chart-5: oklch(0.65 0.19 153.5);
  }

  .dark {
    --background: oklch(0.16 0.01 286.3);
    --foreground: oklch(0.92 0.019 275.6);
    --card: oklch(0.19 0.013 284.2);
    --card-foreground: oklch(0.92 0.019 275.6);
    --popover: oklch(0.19 0.013 284.2);
    --popover-foreground: oklch(0.92 0.019 275.6);
    --primary: oklch(0.65 0.19 263.5);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.34 0.036 268.1);
    --secondary-foreground: oklch(0.92 0.019 275.6);
    --muted: oklch(0.27 0.023 272.4);
    --muted-foreground: oklch(0.58 0.026 270.1);
    --accent: oklch(0.27 0.023 272.4);
    --accent-foreground: oklch(0.92 0.019 275.6);
    --destructive: oklch(0.7 0.159 29.8);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.27 0.023 272.4);
    --input: oklch(0.27 0.023 272.4);
    --ring: oklch(0.65 0.19 263.5);

    --sidebar: oklch(0.27 0.023 272.4);
    --sidebar-foreground: oklch(0.58 0.026 270.1);
    --sidebar-primary: oklch(0.65 0.19 263.5);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.34 0.036 268.1);
    --sidebar-accent-foreground: oklch(0.92 0.019 275.6);
    --sidebar-border: oklch(0.27 0.023 272.4);
    --sidebar-ring: oklch(0.65 0.19 263.5);

    --chart-1: oklch(0.65 0.19 263.5);
    --chart-2: oklch(0.65 0.19 213.5);
    --chart-3: oklch(0.65 0.19 33.5);
    --chart-4: oklch(0.65 0.19 93.5);
    --chart-5: oklch(0.65 0.19 153.5);
  }
}

/* Additional custom styles can go here */
